---
import { GithubIcon, LinkedinIcon } from "@/icons"
import { basics } from "@cv-es"

const { name, label, location, image, email, phone, profiles } = basics
const { city, region, countryCode } = location

const SOCIAL_ICONS: Record<string, any> = {
	GitHub: GithubIcon,
	LinkedIn: LinkedinIcon,
}
---

<section id="profile">
	<div class="section__pic-container">
		<img src={image} alt="Profile photo" />
	</div>
	<div class="section__text">
		<p class="section__text__p1 text-lg">Hola, Soy</p>
		<h1 class="title">{name}</h1>
		<p class="section__text__p2 font-bold text-[rgb(85,85,85)] dark:text-[rgb(218,218,218)]">
			{label}
		</p>
		<div class="btn-container">
			<button class="btn btn-color-2" onclick="window.open('./assets/resume-example.pdf')">
				Descargar CV
			</button>
			<button class="btn btn-color-1" onclick="location.href='./#contact'"> Contact Info </button>
		</div>
		<div id="socials-container">
			{
				profiles.map(({ network, url }) => {
					const Icon = SOCIAL_ICONS[network]

					if (Icon) {
						return (
							<a href={url} title={`Visitar mi perfil en ${network}`} target="_blank" class="icon">
								<Icon />
							</a>
						)
					}
				})
			}
		</div>
	</div>
</section>

<style>
	/* SECTIONS */
	section {
		padding-top: 4vh;
		height: 96vh;
		margin: 0 10rem;
		box-sizing: border-box;
		min-height: fit-content;
		margin-bottom: 6rem;
	}

	.section-container {
		display: flex;
	}

	/* PROFILE SECTION */

	#profile {
		display: flex;
		justify-content: center;
		height: 80vh;
	}

	.section__pic-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.section__pic-container img {
		width: 85%;
		object-fit: cover;
		border-radius: 50%;
	}

	.section__text {
		align-self: center;
		text-align: center;
	}

	.section__text p {
		font-weight: 600;
	}

	.section__text__p1 {
		text-align: center;
	}

	.section__text__p2 {
		font-size: 1.45rem;
		margin-bottom: 1rem;
	}

	.title {
		font-size: 3rem;
		text-align: center;
	}

	#socials-container {
		display: flex;
		justify-content: center;
		margin-top: 1rem;
		gap: 1rem;
	}

	/* ICONS */

	.icon {
		cursor: pointer;
		height: 2rem;
	}

	/* BUTTONS */

	.btn-container {
		display: flex;
		justify-content: center;
		gap: 1rem;
	}

	.btn {
		font-weight: 600;
		font-size: 13px;
		transition: all 300ms ease;
		padding: 1rem;
		width: 8rem;
		border-radius: 2rem;
	}

	.btn-color-1,
	.btn-color-2 {
		border: rgb(53, 53, 53) 0.1rem solid;
	}

	.btn-color-1:hover,
	.btn-color-2:hover {
		cursor: pointer;
	}

	.btn-color-1,
	.btn-color-2:hover {
		background: rgb(53, 53, 53);
		color: white;
	}

	.btn-color-1:hover {
		background: rgb(0, 0, 0);
	}

	.btn-color-2 {
		/* background: rgb(255, 255, 255); */
	}

	.btn-color-2:hover {
		border: rgb(255, 255, 255) 0.1rem solid;
	}

	.btn-container {
		gap: 1rem;
	}

	@media screen and (max-width: 1400px) {
		#profile {
			height: 83vh;
			margin-bottom: 6rem;
		}
		.about-containers {
			flex-wrap: wrap;
		}
		#contact,
		#projects {
			height: fit-content;
		}
	}

	@media screen and (max-width: 1200px) {
		#desktop-nav {
			display: none;
		}
		#hamburger-nav {
			display: flex;
		}
		#experience,
		.experience-details-container {
			margin-top: 2rem;
		}
		#profile,
		.section-container {
			display: block;
		}
		.arrow {
			display: none;
		}
		section,
		.section-container {
			height: fit-content;
		}
		section {
			margin: 0 5%;
		}
		.section__pic-container {
			width: 275px;
			height: 275px;
			margin: 0 auto 2rem;
		}
		.about-containers {
			margin-top: 0;
		}
	}

	@media screen and (max-width: 600px) {
		#contact,
		footer {
			height: 40vh;
		}
		#profile {
			height: 83vh;
			margin-bottom: 0;
		}
		article {
			font-size: 1rem;
		}
		footer nav {
			height: fit-content;
			margin-bottom: 2rem;
		}
		.about-containers,
		.contact-info-upper-container,
		.btn-container {
			flex-wrap: wrap;
		}
		.contact-info-container {
			margin: 0;
		}
		.contact-info-container p,
		.nav-links li a {
			font-size: 1rem;
		}
		.experience-sub-title {
			font-size: 1.25rem;
		}
		.logo {
			font-size: 1.5rem;
		}
		.nav-links {
			flex-direction: column;
			gap: 0.5rem;
			text-align: center;
		}
		.section__pic-container {
			/* width: auto; */
			height: 46vw;
			justify-content: center;
		}
		.section__text__p2 {
			font-size: 1.25rem;
		}
		.title {
			font-size: 2rem;
		}
		.text-container {
			text-align: justify;
		}
	}
</style>
